@import 'variables.css';
@import 'commons.css';
@import 'component/star-separator.css';

/**** DEBUG ****/
.debug .cc_profile-photo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: red;
}

.debug #portfolio > .row > div > span {
    display: block;
    /* max-width: 490px; */
    height: 357px;
    background-color: coral;
}
/**** /DEBUG ****/




/***
*  Header
***/
header {
    background-color: var(--secondary-color);
}

nav > ul {
    height: 5.625rem;
}

nav > ul a {
    color: #fff;
    text-decoration: none;
}

nav > ul a:hover {
    color: #fff;
}

/***
*  Main
***/
/*** Header image ***/
main {
    color: #fff;
}

#header-image {
    background-color: var(--primary-color);
}

.star-separator {
    max-width: 40%;
}


/*** Portfolio ***/
#portfolio {
    color: var(--secondary-color);
}



/*** About ***/
#about {
    background-color: var(--primary-color);
}

/*** Contact ***/
#contact {
    color: var(--secondary-color);
}

/***
*  Footer
***/
footer{
    background-color: var(--secondary-color);
}

#location {
    background-color: #3A546D;
}

#copyright {
    height: 6.875rem;
}