@import 'variables.css';
@import 'commons.css';
@import 'component/star-separator.css';

/**** DEBUG ****/
/* .debug .cc_profile-photo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: red;
} */

.debug #portfolio > .row > div > span {
    display: block;
    /* max-width: 490px; */
    height: 357px;
    background-color: coral;
}
/**** /DEBUG ****/




/***
*  Header
***/
header {
    background-color: var(--secondary-color);
}

nav {
    min-height: 5.625rem;
}

/*** Personalizzazione logo ***/
nav .navbar-brand {
    color: #fff;
}

/*** Personalizzazione Hamburger menù ***/
nav .navbar-nav .nav-link.active {
    color: #fff;
}

nav div .navbar-toggler {
    --bs-navbar-toggler-border-color: #fff;
}

nav div .navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #fff;
}

nav div .navbar-toggler-icon {
    background-color: white;
    mask-image: url(--bs-navbar-toggler-icon-bg);
    -webkit-mask-image: var(--bs-navbar-toggler-icon-bg);
    filter: brightness(2);
}

/*** Personalizzazione Elementi dropdown ***/
nav .navbar-nav {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}


/***
*  Main
***/
/*** Header image ***/
main {
    color: #fff;
}

#header-image {
    background-color: var(--primary-color);
}

.cc_profile-photo {
    max-width: 230px;
}

.star-separator {
    max-width: 40%;
}


/*** Portfolio ***/
#portfolio {
    color: var(--secondary-color);
}



/*** About ***/
#about {
    background-color: var(--primary-color);
}

/*** Contact ***/
#contact {
    color: var(--secondary-color);
}

/***
*  Footer
***/
footer{
    background-color: var(--secondary-color);
}

#location {
    background-color: #3A546D;
}

#copyright {
    height: 6.875rem;
}