/***
***  Commons
***/
hr.star-line {
    width: 4.6875rem;
    height: .1875rem;
    color: #fff;
    opacity: 1;
}

.star-ico {
    color: #fff;
}

/***
*  Header
***/
header {
    background-color: #2C3E50;
}

nav > ul {
    height: 5.625rem;
}

nav > ul a {
    color: #fff;
    text-decoration: none;
}

nav > ul a:hover {
    color: #fff;
}

/***
*  Main
***/
/*** Header image ***/
main {
    color: #fff;
}

.header-image {
    background-color: #1ABC9C;
}

.debug .profile-photo {
    width: 200px;
    height: 200px;
    background-color: red;
}